canvas {
	min-width: 85%;
	max-width: 85%;
	margin-left: 7%;
	min-height: 70vh;
	max-height: 70vh;
}

#tierNames {
	display:inline-flex;
	justify-content: space-around;
	width: 83%;
	margin-left: 9%;
	font-family:Verdana, 'Geneva', sans-serif;
	margin-top: 2em;
}

.tiers {
	text-align:center;
}

#chart-container {

}

#switch-container {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

button {
	padding: 3px;
	background-color: rgb(255, 168, 70);
	text-align: center;
}

.chosen {
	background-color: rgb(255, 168, 70);
	padding: 10px;
	font-weight: bold;
}

.notChosen {
	background-color: lightGray;
	padding: 10px;
	color: gray;
	font-weight: normal;
}

.notChosen:hover {
	background-color: rgb(255, 168, 70);
	color: black;
	font-weight: bold;
}

.notChosen:hover ~ .chosen{
	background-color: lightGray;
	color: gray;
	font-weight: normal;
}

#chooseMap {
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
	
}

#chooseChart {
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
}

a {
	text-decoration: none;
	color: inherit;
}